<p>
	<strong>Title:</strong>
	<%= @post.title %>
	<%= @post.content %>
	<div><%= button_to 'Like', post_likes_path(@post), method: :post %>
	
	<%= button_to 'dislike', post_like_path(@post), method: :delete %>
</div>
<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
</p>
<%= link_to 'back', posts_path %>

<h2>Comments</h2>
<%= render @post.comments %>


<h1>Add comment</h1>
<%= render 'comments/form' %>
<%= link_to 'back', posts_path %>